@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel
    <!--Go to _ViewImports, and make sure it has "using WaterProject.Models.ViewModels" -->


    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">A Website like Amazon</span>
    </div>


    <div class="row m-1 p-1">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>BookID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Page No.</th>
                </tr>
            </thead>

            @foreach (var x in Model.Books)
            {
                <tbody>
                    <tr>

                        <td class="bg-primary"> @x.BookId</td>
                        <td> @x.Title</td>
                        <td>@x.Author</td>
                        <td> @x.Publisher</td>
                        <td>@x.ISBN</td>
                        <td>@x.Classification</td>
                        <td> @x.Category</td>
                        <td> @x.Price</td>
                        <td> @x.PageNo</td>
                    </tr>
                </tbody>
            }
        </table>


    </div>

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1"></div>


