@{
    ViewData["Title"] = "Home Page";
}
@model IQueryable<Book>

<header>
    <p class= "text-white bg-dark">A Website like Amazon</p>
</header>


<div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>BookID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
                <th>Page No.</th>
            </tr>
        </thead>

        @foreach (var x in Model)
        {
            <tbody>
                <tr>

                    <td class = "bg-primary"> @x.BookId</td>
                    <td> @x.Title</td>
                    <td>@x.Author</td>
                    <td> @x.Publisher</td>
                    <td>@x.ISBN</td>
                    <td>@x.Classification</td>
                    <td> @x.Category</td>
                    <td> @x.Price</td>
                    <td> @x.Page</td>
                </tr>
            </tbody>
        }
        </table>
  

</div>


